# Prepping the data

In [1]:
# Importing relevant libraries
import pandas as pd
from pathlib import Path

# loading/reading csvfiles
students_df= pd.read_csv("../Resources/students_complete.csv")
schools_df = pd.read_csv("../Resources/schools_complete.csv")

# merging both dataframes for total district information
district_df = pd.merge(students_df, schools_df, how="left", on="school_name")
district_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary Analysis

In [2]:
# Total number of unique schools

unique_schools_no = len(district_df["school_name"].unique())
unique_schools_no

15

In [3]:
# Total students
total_students_no = district_df["student_name"].count()
total_students_no

39170

In [4]:
# Total budget
total_budget_amount = schools_df["budget"].sum()
total_budget_amount

24649428

In [5]:
# Average math score
avg_math_score = district_df["math_score"].mean()
avg_math_score

78.98537145774827

In [6]:
# Average reading score
avg_reading_score = district_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [7]:
# % passing math
pass_math_count = district_df[(district_df["math_score"] >= 70)].count()["student_name"]
pass_math_percent = (pass_math_count/total_students_no) * 100
pass_math_percent

74.9808526933878

In [8]:
# % passing reading
pass_reading_count = district_df[(district_df["reading_score"] >= 70)].count()["student_name"]
pass_reading_percent = (pass_reading_count/total_students_no) * 100
pass_reading_percent

85.80546336482001

In [9]:
# % overall passing
pass_math_reading_count = district_df[
    (district_df["math_score"] >= 70) & (district_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_percent = (pass_math_reading_count/total_students_no) * 100
overall_passing_percent

65.17232575950983

In [10]:
# Creating a summary dataframe
district_summary = pd.DataFrame({
    "Total Schools": [unique_schools_no],
    "Total Students": total_students_no,
    "Total Budget": total_budget_amount,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": pass_math_percent,
    "% Passing Reading": pass_reading_percent,
    "% Overall Passing": overall_passing_percent
})

# Formatting some cells

district_summary ["Total Students"] = district_summary ["Total Students"].map("{:,}".format)
district_summary ["Total Budget"] = district_summary ["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [ ]:
# School name
school_name_list = district_df["school_name"].unique()
school_name_list

In [ ]:
# School type
school_types = schools_df.set_index(["school_name"])["type"]
school_types = school_types.sort_index()
school_types

In [ ]:
# Total students per school from school_data
per_school_counts = schools_df.set_index(["school_name"])["size"]
per_school_counts = per_school_counts.sort_index()
per_school_counts

In [ ]:
# Calculate the total school budget and per capita spending per school from school_data
schools_df["per_student_budget"] = schools_df["budget"]/schools_df["size"]

per_school_budget = schools_df.set_index(["school_name"])["budget"]
per_school_budget = per_school_budget.sort_index()
per_school_budget


per_school_capita = schools_df.set_index(["school_name"])["per_student_budget"]
per_school_capita = per_school_capita.sort_index()
per_school_capita

In [ ]:
# Calculate the average test scores per school from school_data_complete

grouped_df = district_df.groupby(["school_name"])

per_school_math = grouped_df["math_score"].mean()
per_school_math

per_school_reading = grouped_df["reading_score"].mean()
per_school_reading

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = district_df.loc[(district_df["math_score"]>= 70)]
students_passing_math

school_students_passing_math = students_passing_math.groupby(["school_name"]).count()["student_name"]
school_students_passing_math

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = district_df.loc[(district_df["reading_score"]>= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).count()["student_name"]
school_students_passing_reading

In [47]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = district_df[
    (district_df["reading_score"] >= 70) & (district_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [51]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [54]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.merge (school_types, per_school_counts, per_school_counts,  on="school_name")
per_school_summary
    
#per_school_passing_math, per_school_passing_reading, overall_passing_rate
#per_school_budget, per_school_capita, per_school_math, per_school_reading,
# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
#per_school_summary

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().