# Prepping the data

In [1]:
# Importing relevant libraries
import pandas as pd
from pathlib import Path

# loading/reading csvfiles
students_df= pd.read_csv("../Resources/students_complete.csv")
schools_df = pd.read_csv("../Resources/schools_complete.csv")

# merging both dataframes for total district information
district_df = pd.merge(students_df, schools_df, how="left", on="school_name")
district_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary Analysis

In [2]:
# Total number of unique schools

unique_schools_no = len(district_df["school_name"].unique())
unique_schools_no

15

In [3]:
# Total students
total_students_no = district_df["student_name"].count()
total_students_no

39170

In [4]:
# Total budget
total_budget_amount = schools_df["budget"].sum()
total_budget_amount

24649428

In [5]:
# Average math score
avg_math_score = district_df["math_score"].mean()
avg_math_score

78.98537145774827

In [6]:
# Average reading score
avg_reading_score = district_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [7]:
# % passing math
pass_math_count = district_df[(district_df["math_score"] >= 70)].count()["student_name"]
pass_math_percent = (pass_math_count/total_students_no) * 100
pass_math_percent

74.9808526933878

In [8]:
# % passing reading
pass_reading_count = district_df[(district_df["reading_score"] >= 70)].count()["student_name"]
pass_reading_percent = (pass_reading_count/total_students_no) * 100
pass_reading_percent

85.80546336482001

In [9]:
# % overall passing
pass_math_reading_count = district_df[
    (district_df["math_score"] >= 70) & (district_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_percent = (pass_math_reading_count/total_students_no) * 100
overall_passing_percent

65.17232575950983

In [10]:
# Creating a summary dataframe
district_summary = pd.DataFrame({
    "Total Schools": [unique_schools_no],
    "Total Students": total_students_no,
    "Total Budget": total_budget_amount,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": pass_math_percent,
    "% Passing Reading": pass_reading_percent,
    "% Overall Passing": overall_passing_percent
})

# Formatting some cells

district_summary ["Total Students"] = district_summary ["Total Students"].map("{:,}".format)
district_summary ["Total Budget"] = district_summary ["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [11]:
# School name
school_name_list = district_df["school_name"].unique()
school_name_list

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [12]:
# School type
school_types = schools_df.set_index(["school_name"])["type"]
school_types = school_types.sort_index()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [13]:
# Total students per school from school_data
per_school_counts = schools_df.set_index(["school_name"])["size"]
per_school_counts = per_school_counts.sort_index()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [23]:
# Calculate the total school budget and per capita spending per school from school_data
schools_df["per_student_budget"] = schools_df["budget"]/schools_df["size"]

per_school_budget = schools_df.set_index(["school_name"])["budget"]
per_school_budget = per_school_budget.sort_index()
per_school_budget


per_school_capita = schools_df.set_index(["school_name"])["per_student_budget"]
per_school_capita = per_school_capita.sort_index()
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: per_student_budget, dtype: float64

In [28]:
# Calculate the average test scores per school from school_data_complete

grouped_df = district_df.groupby(["school_name"])

per_school_math = grouped_df["math_score"].mean()
per_school_math

per_school_reading = grouped_df["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [33]:
grouped_df.dtypes

C:\Users\15199\AppData\Local\Temp\ipykernel_23740\489763299.py:1: FutureWarning: DataFrameGroupBy.dtypes is deprecated and will be removed in a future version. Check the dtypes on the base object instead
  grouped_df.dtypes

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,,
Bailey High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Cabrera High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Figueroa High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Ford High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Griffin High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Hernandez High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Holden High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Huang High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Johnson High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Pena High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Rodriguez High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Shelton High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Thomas High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Wilson High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64
Wright High School,int64,object,object,object,object,int64,int64,int64,object,int64,int64

In [37]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = district_df.loc[(district_df["math_score"]>= 70)]
students_passing_math

school_students_passing_math = students_passing_math.groupby(["school_name"]).count()["student_name"]
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [38]:
district_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [39]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = district_df.loc[(district_df["reading_score"]>= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).count()["student_name"]
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64